.container-fluid {
	background-color: black;
	height: 100vh;
}


.color1 { background-color: #eeeeee; }
.color2 { background-color: #fcc314; }
.color3 { background-color: #94ac3c; }
.color4 { background-color: #295ba7; }

.borde-row {border: 1px solid black;}

.borde {border: 2px solid black;}

.day {
	font-size: 20px;
}

.date {
	font-size: 20px;
}

.hour {
	font-size: 70px;
}
.minutes {
	font-size: 70px;
}

.seconds {
	font-size: 40px;
	color: gray;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

.temp {
	font-size: 70px;
}

.temp-min {
	font-size: 20px;
}
.temp-max {
	font-size: 20px;
}

.weatherIcon {
	font-size: 100px;
}

.forecastIcon {
	font-size: 30px;
}

.humidity {
	font-size: 20px;
}

.description {
	font-size: 20px;
}

.iconMaxMin {
	font-size: 30px;
}

.divider {
	width: 100px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
